#root {
    margin: 0 auto;
    padding: 0 2rem 2rem 2rem;
    text-align: center;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: row;
    width: fit-content;
    align-items: center;
    gap: 48px;
    margin: 0 auto;
    text-align: left;
}

.video-placeholder {
    width: 100%;
    padding-top: 56.25%;
    position: relative;
    flex: 1;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    flex: 1;
}

.text-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.email-container {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    width: 100%;
}

.text-title {
    font-family: 'Pacifico', cursive;
    color: #FFAC40;
    font-size: 3rem;
    margin: 0;
}

.text-subtitle {
    color: #999999;
    font-size: 1.4rem;
    font-weight: 500;
}

.email-input {
    border: none;
    outline: none;
    appearance: none;
    background-color: #F2F2F2;
    color: rgb(34, 34, 34);
    border-radius: 12px;
    font-size: 16px;
    padding: 10px 15px;
    font-weight: 400;
    width: 100%;
}

.submit-btn {
    appearance: none;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 12px;
    padding: 10px 15px;
    font-weight: 600;
    font-size: 16px;
    background-color: rgb(34, 34, 34);
    color: rgb(255, 255, 255);
    opacity: 1;
    transition: opacity 0.3s ease;
}

.submit-btn:hover {
    opacity: 0.8;
}

.submit-btn:focus {
    outline: none;
}

.text-success {
    margin: 0;
    font-weight: 500;
    color: #999999;
}

.loader {
    border: 2px solid #f3f3f3;
    border-radius: 50%;
    border-top: 2px solid rgb(34, 34, 34);
    width: 16px;
    height: 16px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

